input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide arrows for number input in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.EyePass{
    width: 22px;
    height: 22px;
}